<html>
<head>
</head>

<title>${properties.formheading}</title>

<body>

<h1>${properties.formheading}</h1>

<form method="#" id="#frm">

<label id="fnamelbl" >First Name</label>
<input id="fname" type="text" value="">
<br/>

<label id="fnamelbl" >Last Name</label>
<input id="lname" type="text" value="">
<br/>

<label id="genderlbl">Gender</label>
<select id="gender" name="Gender ">
	<option value="Male">Male</option>
	<option value="Female">Female</option>
</select>
<br/>

<input type="button" id="submit" value="Submit">
</form>
</body>
  
</html>